:root {
    ---colorBlanco: #fff;
    ---colorNegro: #000;
    ---colorGris: #404040;
    ---colorPrimario: #D5DAEC;
    ---colorSecundario: #0F4CDB;
    ---colorTerciario: #EA585A;
}


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+TAS+Beginner:wght@400..700&family=Grey+Qo&family=Major+Mono+Display&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+TAS+Beginner:wght@400..700&family=Grey+Qo&family=Major+Mono+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Style+Script&display=swap');



/* .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */

/* .montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
   */


* {
    margin: 0;
    padding: 0;
    color: var(---colorBlanco);
    box-sizing: border-box;
}

.main-logo {
    width: 200px;
    color: var(---colorBlanco);
}

body {
    background-color: var(---colorPrimario);
}



/* HEADER - NAVBAR */
/* HEADER - NAVBAR */
/* HEADER - NAVBAR */
/* HEADER - NAVBAR */
nav {
    background-color: var(---colorSecundario);
}

.nav-item a {
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: var(---colorBlanco);
    margin: 0 10px;
    transition: all 0.7s ease-in;
}

.nav-item a:hover {
    background-color: var(---colorPrimario);
    border-radius: 5px;
    color: var(---colorNegro);

}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler i {
    color: var(---colorBlanco);
    font-size: 27px;
}

.navbar-nav {
    text-align: center;
}

.dropdown-menu {
    background-color: var(---colorSecundario);
    border: none;
    padding: 5px 15px;
}

.dropdown-item {
    margin: 0 !important;

}




/* SECCION 1 - VIDEO */
/* SECCION 1 - VIDEO */
/* SECCION 1 - VIDEO */
/* SECCION 1 - VIDEO */
.seccion1-Video {
    position: relative;
    height: 100vh;
    overflow: hidden;
}


.seccion1-Video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    filter: brightness(0.3);
}

.seccion1-Video .boxContent {
    position: relative;
    color: var(---colorBlanco);
    text-align: center;
    padding-top: 20%;
}

.seccion1-Video .boxContent h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 16px;
}

.seccion1-Video .boxContent p {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 40px;
}

.seccion1-Video .boxContent a {
    font-size: 24px;
    font-weight: 500;
    padding: 16px 32px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid var(---colorBlanco);
    color: var(---colorBlanco);
    transition: 0.8s ease-in-out;
}

.seccion1-Video .boxContent a:hover {
    border: 0;
    background-color: var(---colorPrimario);
    color: var(---colorNegro);
}

.seccion1-Video .boxContent a:hover .icon {
    transform: rotate(90deg);
}

.seccion1-Video .boxContent .icon {
    color: var(---colorTerciario);
    transition: 0.8s ease-in-out;
    margin: 0 0 0 5px;
}

/* Scroll top butoon */
/* Scroll top butoon */
/* Scroll top butoon */
/* Scroll top butoon */
.botonScrollTop {
    position: fixed;
    height: 45px;
    width: 42px;
    background-color: var(---colorSecundario);
    right: 35px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    border: var(---colorBlanco) solid 0.5px;
}

.scrollTop-color {
    color: var(---colorBlanco);
}


.botonScrollTop:hover {
    background-color: var(---colorTerciario);
}

/* WHATSAPP WIDGET */
/* WHATSAPP WIDGET */
/* WHATSAPP WIDGET */
/* WHATSAPP WIDGET */
.whatsapp-widget {
    color: var(---colorNegro);
}

/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
footer {
    background-color: var(---colorSecundario);

}



/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */


/* Para dispositivos menores que 991px */
@media (max-width: 991px) {
    .dropdown-menu {
        text-align: center;
    }

    .seccion1-Video .boxContent h1 {
        font-size: 50px;
        font-weight: 600;
        margin: 14px 0;
    }

    .seccion1-Video .boxContent p {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 30px;
    }

    .seccion1-Video .boxContent a {
        font-size: 20px;
        font-weight: 400;
        padding: 12px 24px;
        border-radius: 3px;
        border: 2px solid var(---colorBlanco);

    }

}